<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'guiziweb_sylius_ai_platform.ui.code'|trans }}</div>
    <div class="col-12 col-md-8">{{ hookable_metadata.context.resource.code }}</div>
</div>
