<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.enabled'|trans }}</div>
    <div class="col-12 col-md-8">
        {% if hookable_metadata.context.resource.enabled %}
            <span class="badge bg-success">{{ 'sylius.ui.yes'|trans }}</span>
        {% else %}
            <span class="badge bg-danger">{{ 'sylius.ui.no'|trans }}</span>
        {% endif %}
    </div>
</div>